<div class="form-group">
    <label for="current_password" class="control-label">Current Password</label>
    <div class="controls">
        <input type="password" name="currentPassword" ng-model="vm.cp.currentPassword">
    </div>
</div>
<div class="form-group">
    <label for="new_password" class="control-label">New Password</label>
    <div class="controls">
        <input type="password" name="newPassword" ng-model="vm.cp.newPassword">
    </div>
</div>
<div class="form-group">
    <label for="confirm_password" class="control-label">Confirm Password</label>
    <div class="controls">
        <input type="password" name="confirmPassword" ng-model="vm.cp.confirmPassword">
    </div>
</div>   